---

---

<section
  class="flex justify-center gap-6 p-6 w-full md:pb-15 dark:bg-primary"
  id="characteristics_id"
>
  <div
    class="flex flex-col gap-4 h-full text-gray-600 dark:text-white/90 md:w-2/3"
  >
    <h1 class="text-4xl font-extrabold text-[#45d4c1]">Caracteristicas</h1>
    <p class="text-lg text-gray-600 dark:text-white/80">
      Desarrollado con Python, Skillswap es la forma digital e integradora que
      conecta a todas las universidades UNEFA (extensiones y nucleos) en un
      mismo lugar para el intercambio de conocimientos.
    </p>
    <div class="characteristics flex flex-col gap-3">
      <div
        class="flex text-md font-semibold p-5 rounded-md hover:translate-y-0.5 transition-transform duration-300 ease-in bg-[#f04d76] shadow-lg text-white/90"
      >
        <span>Autenticación robusta</span>
      </div>
      <div
        class="flex text-md font-semibold p-5 rounded-md hover:translate-y-0.5 transition-transform duration-300 ease-in bg-[#f04d76] shadow-lg text-white/90"
      >
        <span>Intercambio en tiempo real entre pares (P2P) </span>
      </div>
      <div
        class="flex text-md font-semibold p-5 rounded-md hover:translate-y-0.5 transition-transform duration-300 ease-in bg-[#f04d76] shadow-lg text-white/90"
      >
        <span>Diseño responsivo e intuitivo</span>
      </div>
    </div>
  </div>
</section>

<style>
  .characteristics div {
    background: linear-gradient(
      90deg,
      rgba(196, 24, 67, 1) 0%,
      rgba(16, 230, 201, 1) 97%
    );
  }
</style>
